[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/Proyect-Gym-Nest-Microservices/Auth-microservice.git
[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Proyect-Gym-Nest-Microservices/client-gateway.git
[submodule "user-ms"]
	path = user-ms
	url = https://github.com/Proyect-Gym-Nest-Microservices/User-Microservice.git
[submodule "notification-ms"]
	path = notification-ms
	url = https://github.com/Proyect-Gym-Nest-Microservices/Notification-Microservice.git
[submodule "training-ms"]
	path = training-ms
	url = https://github.com/Proyect-Gym-Nest-Microservices/training-ms.git
